@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&family=Roboto&family=Sedgwick+Ave&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sedgwick Ave', cursive;
*/

.cart {
  width: auto;
  height: auto;
  position: fixed;
  background-color: white;
  z-index: 999;
  bottom: 5%;
  right: 3%;
  border-radius: 50%;
}

.cart .btnCart {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.cart .btnCart .icon {
  font-size: 25px;
}

section .modal {
  background-color: #00000050;
  backdrop-filter: blur(15px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  z-index: 999;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform:  scale(1.2);
}

section.active .modal {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
::selection {
  color: #fff;
  background: #5372f0;
}
.wrapper {
  width: 496px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}
.wrapper :where(.title, li, li i, .details) {
  display: flex;
  align-items: center;
}
.title img {
  max-width: 21px;
}
.title h2 {
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content {
  margin: 10px 0;
}
.content p {
  font-size: 15px;
}
.content ul,
.content input {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul li {
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i {
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details {
  justify-content: space-between;
}
.details .send,
.details .remove {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372f0;
  transition: background 0.3s ease;
}
.details button:hover {
  background: #2c52ed;
}

.details p {
  font-size: 13px;
  margin-top: 10px;
}

.details a {
  color: black;
}

.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 9;
  top: 0;
  left: 0;
}

/* banner style */
.banner {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 99;
}

.banner h1 {
  font-family: "Sedgwick Ave", cursive;
  font-size: 5em;
  letter-spacing: 2px;
}

.banner p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

.banner .btn {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

.space {
  width: 100%;
  height: 100px;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7em;
}

.menu {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4638;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 1s;
}

.card.move .card-body {
  right: 0;
}

.card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0px;
  font-weight: 300;
}

.card-btn {
  color: white;
  background: #2b2b2b;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  transition: .3s;
}

.card-btn:hover {
  background: #1d1d1d;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.card {
  width: 320px;
  margin: 50px 30px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid white;
  position: relative;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  object-fit: cover;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: white;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #ffffff;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #ffffff;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #ffffff;
  color: black;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #ffffff;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  color: white;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #ffffff;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #eaeaea;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #ffffff;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 620px) {
  .wrapper {
    width: 80%;
  }

  .card {
    width: 290px;
    margin: 75px 20px 75px 20px;
  }

  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }

  .space {
    font-size: 1em;
    height: 50px;
  }
  .banner p {
    font-size: 20px;
  }

  #navbar {
    display: none;
  }

  #ball-nav {
    opacity: 1;
    pointer-events: all;
  }

  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
